@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace
}
h2 {
  font-family: 'Courier New', Courier, monospace;
  
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear;
  display: inline-block;
      font-size: 190px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

button {
  animation: wiggle 2s linear;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}



body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;
  background:  url("./img/colourful-alphabet-letters-760.jpg");
  background-size:cover;

}

  

::placeholder {
  color: black;
}
textarea {
  font-family: 'Courier New', Courier, monospace;
  color: blueviolet;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.5;
}
.container {
  display: flex;
  flex-direction: column;
  min-width: 700px;
  width: 100%;
  padding: 30px;
  background: coral;
  border-radius: 7px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.01);
  align-items: center;
}

@media screen and (min-width: 360px) {
.container {
width: 360px;
margin: 0 auto;

}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-left: 60px;
  
  align-items: center;
}
 
}
.header-text {
  font-size: 36px;
  color:blueviolet;
}
.wrapper {
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 0;
  width: 500px;
}


.wrapper .text-input {
  display: flex;
  border-bottom: 1px solid #ccc;
}
.text-input .to-text {
  border-radius: 0px;
  border-left: 1px solid #ccc;
}
.text-input textarea {
  height: 250px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
}
.text-input textarea::placeholder {
  color: #b7b6b6;
}
.controls,
li,
.icons,
.icons i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls {
  list-style: none;
  padding: 12px 15px;
}
.controls .row .icons {
  width: 38%;
}
.controls .row .icons i {
  width: 50px;
  color: #adadad;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
  justify-content: center;
}
.controls .row.from .icons {
  padding-right: 15px;
  border-right: 1px solid #ccc;
}
.controls .row.to .icons {
  padding-left: 15px;
  border-left: 1px solid #ccc;
}
.controls .row select {
  color: #333;
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
  padding-left: 5px;
}
.text-input textarea::-webkit-scrollbar {
  width: 4px;
}
.controls .row select::-webkit-scrollbar {
  width: 8px;
}
.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track {
  background: #fff;
}
.text-input textarea::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 8px;
}
.controls .row select::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.controls .exchange {
  color: #adadad;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
}
.controls i:active {
  transform: scale(0.9);
}
.selection {
  font-family: 'Courier New', Courier, monospace;
  color: blueviolet;
}
.container button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: blueviolet;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 5px;
  background: #ffc107;
  font-size: 24px;
}
